.mega {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.head {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.minihead {
    color: orangered;
    height: 32px;
}

.put5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    /* border: solid; */
    width: 100%;
}

input {
    width: 40%;
    height: 30px;
    background: #F7F8FA;
    border-radius: 10px;
}

.btt1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt1 {
    /* width: 20%;
    height: 40px;
    background-color: orangered;
    color: white;
    gap: 20px; */
left: 34.53%;
right: 50%;
top: 48.27%;
bottom: 47.95%;
/* background: #FF6E1D; */
border-radius: 10px;
}

.bt2 {
    /* width: 20%;
    height: 40px;
    color: #B4B4B4;
    background-color: #F7F8FA; */
left: 34.38%;
right: 34.38%;
top: 48.07%;
bottom: 47.75%;
background: #F7F8FA;
border-radius: 10px;
}

.btt2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.pahanj {
    width: 40.5%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: solid; */
}

.radio {
    width: 40.5%;
    height: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: solid; */
}

.galchka {
    width: 4%;
    height: 15px;
    border-radius: 50, 50;
}

.final {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt3 {
    width: 40.5%;
    height: 40px;
    background: #7f7f80;
    color: wheat;
}
.btn3{
    background-color: orange;
}
.probel{
    width: 100%;
    height: 20px;
}
.probel1{
    width: 100%;
    height: 5px;
}